<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <h1>Post a hell beast</h1>

    <form action="/beasts" method="post">
      <label for="name">What is it's name:</label>
      <input id="name" name="name" type="text"><br>

      <label for="origin">Add the origin:</label>
      <input id="origin" name="origin" type="text"><br>

      <label for="location">Add the current location of the beast:</label>
      <input id="location" name="location" type="text"><br>

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
