<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Hell Beast Details: </h1>

    <h2>@Model.Name</h2>
    <h2>@Model.Origin</h2>
    <h2>@Model.Location</h2>
    @*<img src='@Model.ImageURL' alt="an image of the hellbeast">*@

    <a href='/beasts/new'>Add another beast</a>
    <a href='/beasts'>View all hell beasts</a>

  </body>
</html>
